@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(243, 241, 241);
  color: #004b61;
  padding-top: 3rem; /* Minska padding-top för att flytta texten högre upp */
}

.services {
  display: flex;
  justify-content: center;
  width: 100%;
}

.services__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 2rem 184px 4.25rem;
  text-align: center;
}

.services__header {
  color: #004b61;
  font-size: 3rem;
  text-align: center;
  font-weight: bold;
}

.services__text {
  max-width: 660px;
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: center;
}

.container,
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  /* border: 2px solid red; */
  text-align: center;
}

.container-tabel {
  width: 100%;
  height: auto; 
  flex-direction: column;
  /*border: 2px solid blue;*/
  text-align: center;
  overflow: auto;
}

.table-auto {
  width: 100%;
  table-layout: fixed; 
}

.table-auto th,
.table-auto td {
  padding: 0.25rem; 
  border: 1px solid rgb(200, 200, 200); /* Darker border color */
}

.table-auto tr:nth-child(even) {
  background-color: rgb(223, 221, 221); /* Slightly darker than the original color */
  color: #000000; /* Black text for better readability */
}

.table-auto tr:nth-child(odd) {
  background-color: rgb(223, 221, 221); /* Original color for odd rows */
  color: #000000; /* Black text for better readability */
}

.container,
body {
  min-width: 992px !important;
}

.payment-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 5%;
}


.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  marginRight: '-50%';
  transform: translate(-50%, -50%);
  background: white;
  padding: 20px;
  borderRadius: 10px;
  boxShadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  backgroundColor: rgba(0, 0, 0, 0.75);
}